* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.psd1 text eol=crlf
*.psm1 text eol=crlf

*.sh text eol=lf

*.bmp binary
*.gif binary
*.icns binary
*.ico binary
*.jpeg binary
*.jpg binary
*.png binary
*.webp binary

*.eot binary
*.otf binary
*.ttf binary
*.woff binary
*.woff2 binary

*.7z binary
*.dll binary
*.dmg binary
*.exe binary
*.gz binary
*.tar binary
*.tgz binary
*.zip binary

*.avi binary
*.mov binary
*.mp3 binary
*.mp4 binary
*.pdf binary
*.wav binary
*.webm binary
